@import "mocha.css";

window.top{
    background: 0;
}
.top .modules-left{
    background: alpha(@lavender, 0.38);
    border-radius: 2px;
    padding: 0;
    font-size: 22px;
    border-bottom-right-radius: 16px;
}
.top .modules-right{
    padding: 0 12px;
    background: alpha(@lavender, 0.38);
    border-radius: 2px;
    font-size: 22px;
    border-bottom-left-radius: 16px;
}
#clock{
    font-family: "Adwaita Sans";
    font-weight: 700;
    font-size: 115%;
    margin-right: 15px;
}
window.bottom#waybar{
    font-size:18px;
    background: shade(alpha(@lavender, 0.45), 0.85);
    border-radius: 2px;
}
#workspaces button{
    color: alpha(@text, 0.3);
}
#workspaces button.visible {
    color: #64e8ea;
}

#pulseaudio-slider{
    min-width: 120px;
}
#taskbar{
    background: shade(@mauve, 0.35);
    padding: 0;
    margin: 3px;
    border-radius: 12px;
}
#taskbar button{
    transition-property: background;
    transition-duration: 150ms;
    transition-timing-function: linear;
    border-radius: 12px;
    background: shade(@mauve, 0.35);
}
#taskbar button.active{
    transition-timing-function: linear;
    transition-duration: 150ms;
    transition-delay: 150ms;
    background: shade(@mauve, 0.85);
}
.bottom .modules-left{
    margin-left: 4px;
}
