@import "mocha.css";
window.top{
    background: 0;
}
.top .modules-left{
    background: alpha(@lavender, 0.38);
    border-radius: 2px;
    padding-right: 6px;
    font-size: 22px;
    border-bottom-right-radius: 16px;
}
.top .modules-right{
    padding: 0 12px;
    background: alpha(@lavender, 0.38);
    border-radius: 2px;
    font-size: 22px;
    border-bottom-left-radius: 16px;
}
#clock{
    font-family: "Adwaita Sans";
    font-weight: 700;
    font-size: 115%;
    margin-right: 15px;
}
window.bottom#waybar{
    font-size:18px;
    background: shade(alpha(@lavender, 0.32), 0.85);
    border-radius: 20px;
}
#workspaces button{
    color: alpha(@text, 0.3);
}
#workspaces button.visible {
    color: #64e8ea;
}

#pulseaudio-slider{
    min-width: 120px;
}
#custom-artist{
    font-size: 55%; 
}
#custom-title{
    font-size: 85%;
    margin-top: 3px;
}

#media.control, #taskbar, #volume{
    background: shade(alpha(@mauve, 0.75), 0.35);
    margin: 6px 5px 6px 0;
    padding: 0 18px;
    border-radius: 20px;
}
#volume{
    margin-right: 8px;
}
#taskbar{
    margin: 6px 3px 6px 8px;
    padding: 0;
}
#media.control{
    font-size: 90%;
    padding: 0 18px 0 6px;
    margin: 6px 10px 6px 10px;
}
#taskbar button{
    transition-property: background;
    transition-duration: 150ms;
    transition-timing-function: linear;
    border-radius: 12px;
}
#taskbar button.active{
    transition-timing-function: linear;
    transition-duration: 150ms;
    transition-delay: 150ms;
    background: shade(@mauve, 0.85);
}
