@define-color	pink  #f5c2e7;
@define-color	mauve  #cba6f7;
@define-color	lavender  #b4befe;
@define-color	text  #cdd6f4;
@define-color	base  rgba(30, 30, 46, 0.99);
@define-color	mantle  #181825;
@define-color	crust  #11111b;

#window {
    all:unset;
  font-family: "Fira Code Nerd Font";
  background-color: @base;
  border-radius: 10px;
}

#inner-box {
  padding: 10px;
}

#outer-box {
  margin: 3px;
  padding: 4px;
  background-color: @base;
}

#input {
  border: solid 1px @lavender;
  margin: 0.4em;
  padding: 2px 2px;
  font-size: 1.24em;
  color: @text;
}

#entry {
  padding: 2px 2px;
  font-size: 1.2em;
  border: none;
  color: @lavender;
  outline: none;
}

#entry:selected {
    border: 0.11em solid @lavender;
}
#text:selected {
  color: @lavender;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}
